@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  border-top: 10px;
}
.container {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  border-top: 28px solid #ffdc40;
  border-radius: 10px;
  outline: 1px solid #c4c4c4;
  padding-left: 28px;
  padding-right: 22px;
  padding-bottom: 20px;
}
.sort {
  background-image: url(./assets/Group\ 38.png);
  width: 25px;
  height: 15px;
  display: block;
  margin-left: auto;
  margin-right: 6px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  border: none;
  background-color: transparent;
  transition: 0.3s;
  margin-bottom: 11px;
}
.todo {
  list-style: none;
  /* width: 286px;
  height: 40px; */
  margin-bottom: 1px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  outline: 0;
  padding: 3px;
  max-height: 300px;
  overflow-y: auto;
 
}
h1 {
  margin-top: 14px;
  margin-bottom: 20px;
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 30px;
  text-align: center;
  text-transform: capitalize;
}
.add-button {
  padding-top: 13px;
  padding-bottom: 13px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  position: relative;
  background-color: #833ae0;
  border: none;
  border-radius: 71px;
  /* max-width: 150px; */
  width: 100%;
  margin: 0 auto;
  display: block;
  cursor: pointer;
  color: #ffffff;
 
  
}
.todo-li{
  display: flex;
  padding: 10px 30px 10px 27px;
  margin-bottom: 1px;
  align-items: center;
  background-color: white;
  
}
.delete{
  width: 20px;
  height: 20px;
  /* border-radius: 10px; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  outline: none;
  background-color: transparent;
  /* transition: 0.3s; */
  margin-left: 8px;
  background-image: url(./assets/Group\ 56.png);
  border: none;
  color: white;

}
.input{
  border-style: none;
  outline: none;
  border: none;

}
.todo-li input{
  flex-grow: 1;
}
.plus{
  /* margin-left: 80px; */
  position: absolute;
  bottom: 1px;
   left: 0;
  /* right: 11px; */
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 25px;
  background-color: #9953f1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.add{
  position: relative;
  max-width: 150px;
  margin: auto;
  margin-top: 30px;
  
  
}
.sort:hover{
  background-image: url(./assets/Group\ 34.png);
}
.delete:hover{
  background-image: url(./assets/Group\ 70.png);
  
}


.sort.asc {
  background-image: url("./assets/Group\ 38.png");
}

.sort.asc:hover,
.sort.asc.active {
  background-image: url("./assets/Group\ 34.png");
}

.sort.desc {
  background-image: url("./assets/Group\ 90.png");
}

.sort.desc:hover,
.sort.desc.active {
  background-image: url("./assets/Group\ 91.png");
}